@use "@angular/material" as mat;
@include mat.core();

main {
  width: 100%;
  height: 100%;
  background-color: #232f3e;

  section.cryptoGrid {
    color: white;

    .cryptoBoxes {
      display: flex;
      justify-content: center;
      padding-top: 50px;

      .tableWrap {
        width: 50%;
      }
    }
  }
}
