<main>
  <section class="leftSide">
    <div class="headerText">
      <h1>Hello, we are glad to see you !</h1>
    </div>
    <div class="textBox">
      <p>
        Discover the latest cryptocurrency values and exchange rates in
        real-time. CryptoXchange offers a secure, user-friendly platform for
        tracking and trading your favorite digital currencies. Stay informed
        with up-to-date market data and make smarter financial decisions with
        ease. Join us today and revolutionize your crypto trading experience!
      </p>
      <div class="btnBox">
        <ul>
          <li>
            <a>See Rates</a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="rightSide">
    <div class="photoSide">
      <img src="assets/diagram.png" alt="diagram" draggable="false" />
    </div>
  </section>

  <section class="boxes">
    <div class="info" *ngIf="cryptoData">
      <div class="card bg-dark" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{ cryptoData.data[0].name }} {{ cryptoData.data[0].symbol }}
          </h5>
          <h6 class="card-subtitle mb-2 text-body-light">
            {{ cryptoData.data[0].rank }}
          </h6>
          <p class="card-text">
            {{ cryptoData.data[0].priceUsd }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[0].marketCapUsd }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[0].volumeUsd24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[0].changePercent24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[0].supply }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[0].maxSupply }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[0].vwap24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[0].id }}
          </p>
        </div>
      </div>
      <div class="card bg-dark" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{ cryptoData.data[1].name }} {{ cryptoData.data[1].symbol }}
          </h5>
          <h6 class="card-subtitle mb-2 text-body-light">
            {{ cryptoData.data[1].rank }}
          </h6>
          <p class="card-text">
            {{ cryptoData.data[1].priceUsd }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[1].marketCapUsd }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[1].volumeUsd24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[1].changePercent24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[1].supply }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[1].maxSupply }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[1].vwap24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[1].id }}
          </p>
        </div>
      </div>
      <div class="card bg-dark" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{ cryptoData.data[2].name }} {{ cryptoData.data[2].symbol }}
          </h5>
          <h6 class="card-subtitle mb-2 text-body-light">
            {{ cryptoData.data[2].rank }}
          </h6>
          <p class="card-text">
            {{ cryptoData.data[2].priceUsd }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[2].marketCapUsd }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[2].volumeUsd24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[2].changePercent24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[2].supply }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[2].maxSupply }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[2].vwap24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[2].id }}
          </p>
        </div>
      </div>
      <div class="card bg-dark" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">
            {{ cryptoData.data[3].name }} {{ cryptoData.data[3].symbol }}
          </h5>
          <h6 class="card-subtitle mb-2 text-body-light">
            {{ cryptoData.data[3].rank }}
          </h6>
          <p class="card-text">
            {{ cryptoData.data[3].priceUsd }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[3].marketCapUsd }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[3].volumeUsd24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[3].changePercent24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[3].supply }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[3].maxSupply }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[3].vwap24Hr }}
          </p>
          <p class="card-text">
            {{ cryptoData.data[3].id }}
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
