<main>
  <section class="leftSide">
    <div class="headerText">
      <h1>Hello, we are glad to see you !</h1>
    </div>
    <div class="textBox">
      <p>
        Discover the latest cryptocurrency values and exchange rates in
        real-time. CryptoXchange offers a secure, user-friendly platform for
        tracking and trading your favorite digital currencies. Stay informed
        with up-to-date market data and make smarter financial decisions with
        ease. Join us today and revolutionize your crypto trading experience!
      </p>
      <div class="btnBox">
        <ul>
          <li>
            <a (click)="getCrypto()">See Rates</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="rightSide">
    <div class="photoSide">
      <img src="assets/diagram.png" alt="diagram" draggable="false" />
    </div>
    <div class="info" *ngIf="cryptoData">
      <!-- <div *ngFor="let crypto of cryptoData.data">
        <h2>{{ crypto.name }} ({{ crypto.symbol }})</h2>
        <p>Rank: {{ crypto.rank }}</p>
        <p>Price (USD): {{ crypto.priceUsd }}</p>
        <p>Market Cap (USD): {{ crypto.marketCapUsd }}</p>
        <p>Volume (24Hr USD): {{ crypto.volumeUsd24Hr }}</p>
        <p>Change (24Hr %): {{ crypto.changePercent24Hr }}</p>
        <p>Supply: {{ crypto.supply }}</p>
        <p *ngIf="crypto.maxSupply">Max Supply: {{ crypto.maxSupply }}</p>
        <p>VWAP (24Hr): {{ crypto.vwap24Hr }}</p>
      </div> -->
      <h1>{{ cryptoData.data[0].id }}</h1>
    </div>
  </section>
</main>
