<main>
  <section class="leftSide">
    <div class="headerText">
      <h1>Hello, we are glad to see you !</h1>
    </div>
    <div class="textBox">
      <p>
        Discover the latest cryptocurrency values and exchange rates in
        real-time. CryptoXchange offers a secure, user-friendly platform for
        tracking and trading your favorite digital currencies. Stay informed
        with up-to-date market data and make smarter financial decisions with
        ease. Join us today and revolutionize your crypto trading experience!
      </p>
      <div class="btnBox">
        <ul>
          <li>
            <a href="">See Rates</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="rightSide">
    <div class="photoSide">
      <img src="assets/diagram.png" alt="diagram" draggable="false" />
    </div>
  </section>
</main>
