<main>
  <section class="searchSection">
    <div class="inputBox">
      <div class="insideWrap">
        <div class="input-group mb-3" *ngIf="baseDisplay">
          <span class="input-group-text">{{ baseDisplay }}</span>
          <input
            type="text"
            class="form-control"
            (input)="loadRates($event)"
            aria-label="Dollar amount (with dot and two decimal places)"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="currencys">
    <div class="secondBox">
      <table class="table table-sm">
        <tbody>
          <tr>
            <td>Currency</td>
            <td>Otto</td>
            <td>mdo</td>
          </tr>
          <tr *ngFor="let currency of currencies | keyvalue">
            <td>{{ currency.key }}</td>
            <td>{{ currency.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
