<main>
  <section class="searchSection">
    <div class="inputBox">
      <div class="insideWrap">
        <div class="input-group mb-3">
          <span class="input-group-text"></span>
          <input
            type="text"
            class="form-control"
            aria-label="Dollar amount (with dot and two decimal places)"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="currencys">
    <div class="secondBox">
      <table class="table table-sm">
        <tbody *ngFor="let currencyInfo of currency">
          <tr *ngFor="let dataItem of currency">
            <td>Currency</td>
            <td>Otto</td>
            <td>mdo</td>
          </tr>
          <tr *ngFor="let dataItem of currency">
            <td>{{ dataItem.base_code }}</td>
            <td>{{ dataItem.conversion_rates.USD }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
